<br><br><br><br><br><br><br>
<footer class="footer"
        style="position: fixed; right: 0;bottom: 0;left: 0;padding: 1rem;text-align: center;border: solid 1px; background: rgba(0,0,0,.9)">

    <div class="footer-copy font-alt">
        <span style="color:red;font-size: 25px;">Navegador no compatible.</span>
    </div>
    <div class="footer-made">
        <span style="color:red;opacity: .7;font-size: 15px;">
            Descarga <a href="http://intralva.lv.cfemex.com/biblio/gcn/chrome.exe">chrome aquí</a> para poder utilizar esta aplicación sin errores.
        </span>
    </div>
</footer>
