<div *ngIf="registros">
    <p-dataTable [value]="registros" [rows]="10" [paginator]="true">
        <p-column field="tablaAfectada" header="Tabla Afectada"></p-column>
        <p-column field="camposAfectados" header="Campos Afectados"></p-column>
        <p-column field="nipResponsable" header="NIP del responsable"></p-column>
        <p-column field="ip" header="Direccion IP"></p-column>
        <p-column field="tipoMovimiento" header="Tipo de Movimiento"></p-column>
        <p-column field="valorAnterior" header="Valor Anterior"></p-column>
        <p-column field="valorNuevo" header="Valor Nuevo"></p-column>
        <p-column field="fecha" header="Fecha">
            <template let-col let-registro="rowData" pTemplate="registro" type="body">
                <span>{{registro.fecha | date : 'medium'}}</span>
            </template>
        </p-column>
    </p-dataTable>
</div>