<br><br><br><br>
<div class="container ">
    <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
        <li>
            <a routerLink="/asignar_encuestas" data-toggle="tab">
                <div class="alt-tabs-icon">
                    <i class="icon-scope"></i>
                </div>
                Asignar Encuestas
            </a>
        </li>
        <li (click)="display = true">
            <a data-toggle="tab">
                <div class="alt-tabs-icon">
                    <i class="icon-documents"></i>
                </div>
                Administrar Encuestas
            </a>
        </li>
        <li (click)="cargarAdminUsuarios()">
            <a ata-toggle="tab">
                <div class="alt-tabs-icon">
                    <span class="icon-profile-male"></span>
                </div>
                Administrar Usuarios
            </a>
        </li>
        <li>
            <a routerLink="/admin_reportes" data-toggle="tab">
                <div class="alt-tabs-icon">
                    <span class="icon-book-open"></span>
                </div>
                Administrar reportes
            </a>
        </li>
        <!--  <li>
              <a routerLink="/bitacora" data-toggle="tab">
                  <div class="alt-tabs-icon">
                      <span class="icon-book-open"></span>
                  </div>
                  BitacoraComponent
              </a>
          </li>-->
    </ul>
</div>

<p-dialog header="Catalogo Encuestas" [(visible)]="display">
    <table class="table table-bordered table-hover"
           *ngIf="catalogoEncuestas">
        <tbody>
        <tr *ngFor="let encuesta of catalogoEncuestas"
            (click)="cargarEncuesta(encuesta.idte)"
            [ngClass]="{'encuestaSeleccionada': encuestaSeleccionada == encuesta}">
            <td>
                {{encuesta.idEncuesta}} {{encuesta.descripcion}}
            </td>
        </tr>
        </tbody>
    </table>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
            <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
        </div>
    </footer>
</p-dialog>