<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="grupo?.id_evaluacion">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <h1>Editar Reporte:</h1>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <p-dropdown [options]="listaPonderadosDropdown"
                        [style]="{'width':'100%','z-index':'20'}"
                        [(ngModel)]="ponderadoSeleccionado"></p-dropdown>
            <hr>
            <button style="float:right;" type="button" pButton icon="fa-plus"
                    (click)="guardarCambios()"
                    label="Guardar cambios"></button>
        </div>
    </div>
</div>