<!--<nav class="main-nav dark" *ngIf="loginService.usuarioValidado()">
    <div class="full-wrapper relative clearfix">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    (click)="toggleState()">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand">GEMMAA360</a>
        </div>
        <div class="inner-nav desktop-nav navbar-collapse"
             [ngClass]="{ 'in': isIn }">
            <ul class="clearlist scroll-nav local-scroll">
                <li class="active"><a routerLink="/principal">Inicio</a></li>
                <li><a (click)="cargarEvaluaciones()">Evaluar</a></li>
                <li><a routerLink="/reportes">Reportes</a></li>
                <li *ngIf="loginService.emplHasAccess('admin')"><a routerLink="/admin">Administracion</a></li>
                <li><a (click)="logout()" routerLink="">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>-->

<!--
<nav *ngIf="loginService.usuarioValidado()" class="main-nav dark">
    <div class="full-wrapper relative clearfix">

        &lt;!&ndash; Logo ( * your text or image into link tag *) &ndash;&gt;
        <div class="nav-logo-wrap local-scroll">
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        <div id="navbar" class="inner-nav desktop-nav" >
            <ul class="clearlist scroll-nav local-scroll" >
                <li class="active"><a routerLink="/principal">Inicio</a></li>
                <li><a (click)="cargarEvaluaciones()">Evaluar</a></li>
                <li><a routerLink="/reportes">Reportes</a></li>
                <li *ngIf="loginService.emplHasAccess('admin')"><a routerLink="/admin">Administracion</a></li>
                <li><a (click)="logout()" routerLink="">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- core/navbar.component.html -->
<nav class="navbar navbar-inverse" *ngIf="loginService.usuarioValidado()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse"
             [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav" style="float:right;">
                <li [ngClass]="{ 'active': currentPath =='/principal' }"><a
                        routerLink="/principal">Inicio</a></li>
                <li [ngClass]="{ 'active': currentPath =='/encuestas' }"><a
                        (click)="cargarEvaluaciones()">Evaluar</a></li>
                <li [ngClass]="{ 'active': currentPath =='/reportes' }"><a
                        routerLink="/reportes">Reportes</a></li>
                <li [ngClass]="{ 'active': currentPath =='/admin' }"
                    *ngIf="loginService.emplHasAccess('admin')"><a routerLink="/admin">Administracion</a></li>
                <li><a (click)="logout()" routerLink="">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>